<template>
  <div>
    <div class="landing-page sidebar-collapse">
      <Menu :links="links" />
      <div class="page-header header-filter">
        <div class="container">
          <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
              <h3 class="title">Self-assessment COVID-19</h3>
              <h5>
                The survey data will help to reduce the number of unreported
                cases of COVID-19 thus creating a reliable database that can
                forecast for futher planning and for everyone be able to fight
                this desease.
              </h5>
              <br />
              <button
                type="button"
                data-toggle="modal"
                v-on:click="startSurvey()"
                data-target="#modalSurvey"
                class="btn btn-info btn-lg btn-raised modal-trigger"
              >
                Start the survey now
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <Footer :links="lawLinks" />
    <ModalSurvey
      :question="currentQuestion"
      :options="currentOptions"
      :type="currentQuestionType"
      :canSkip="currentQuestionCanSkip"
    />
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import Menu from "../components/Menu";
import Footer from "../components/Footer";
import ModalSurvey from "../components/ModalSurvey";
export default {
  name: "Home",
  data() {
    return {
      links: [
        {
          title: "About",
          icon: "fa fa-github",
          link: "https://github.com/alexander-stage/athena"
        },
        {
          title: "Join Us",
          icon: "fa fa-slack",
          link:
            "https://join.slack.com/t/projectathenaco/shared_invite/zt-cuthlqb8-NVXrCnmROwCMS55mOcEgvA"
        }
      ],
      lawLinks: [
        {
          title: "Impressum",
          icon: "fa fa-list-alt",
          link: "#"
        },
        {
          title: "Privacy Policy",
          icon: "fa fa-policy",
          link: "#"
        }
      ]
    };
  },
  computed: {
    ...mapGetters(["surveyState", "questions", "questionIndex"]),
    currentQuestionType() {
      return this.questions[this.questionIndex] !== undefined
        ? this.questions[this.questionIndex].type
        : "";
    },
    currentQuestion() {
      return this.questions[this.questionIndex] !== undefined
        ? this.questions[this.questionIndex].value
        : "";
    },
    currentOptions() {
      return this.questions[this.questionIndex] !== undefined
        ? this.questions[this.questionIndex].options
        : [];
    },
    currentQuestionCanSkip() {
      return this.questions[this.questionIndex] !== undefined
        ? this.questions[this.questionIndex].skip !== undefined
          ? this.questions[this.questionIndex].skip
          : ""
        : "";
    }
  },
  methods: {
    startSurvey() {
      this.$store.commit("updateSurvey", true);
    }
  },
  created() {
    document.title = "COVID-19 survey";
  },
  components: {
    Menu,
    Footer,
    ModalSurvey
  }
};
</script>
<style scoped>
.question {
  margin: 20px 10px 30px 10px;
  cursor: default;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: rgba(255, 255, 255, 0.438);
  box-shadow: 2px 2px 20px 1px;
  overflow-x: auto;
  display: flex;
  flex-direction: column;
}

.modal-header,
.modal-footer {
  padding: 15px;
  display: flex;
}

.modal-header {
  border-bottom: 1px solid #eeeeee;
  color: #4aae9b;
  justify-content: space-between;
}

.modal-footer {
  border-top: 1px solid #eeeeee;
  justify-content: flex-end;
}

.modal-body {
  position: relative;
  padding: 20px 10px;
}

.btn-close {
  border: none;
  font-size: 20px;
  padding: 20px;
  cursor: pointer;
  font-weight: bold;
  color: #4aae9b;
  background: transparent;
}

.btn-green {
  color: white;
  background: #4aae9b;
  border: 1px solid #4aae9b;
  border-radius: 2px;
}
</style>
