<template>
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="ml-auto mr-auto">
          <ul>
            <li v-for="link in links" :key="link.value">
              <a
                class="nav-link"
                rel="tooltip"
                :title="link.title"
                data-placement="bottom"
                :href="link.link"
                target="_blank"
                :data-original-title="link.title"
              >
                <i :class="link.icon" style="margin-right: 10px;"></i>
                {{ link.title }}
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="description text-center">
          <p>
            Information made available on this website in any form is for
            information purposes only. It is not, and should not be taken as,
            medical advice or any kind of health feedback. You should not rely
            on, or take or fail to take any action based upon this information.
            Never disregard professional medical advice or delay in seeking
            medical attention because of something you have read on this
            website.
          </p>
        </div>
      </div>
    </div>
  </footer>
</template>
<script>
export default {
  name: "footer-menu",
  props: {
    links: Array,
    default: () => {
      return {
        links: []
      };
    }
  }
};
</script>
