<template>
  <nav
    class="navbar navbar-transparent navbar-color-on-scroll fixed-top navbar-expand-lg"
    color-on-scroll="100"
    id="sectionsNav"
  >
    <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand" href="/">
          <img src="img/logo.svg" class="logo-img" alt="Project Athena" />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="sr-only">Toggle navigation</span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item" v-for="link in links" :key="link.value">
            <a
              class="nav-link"
              rel="tooltip"
              :title="link.title"
              data-placement="bottom"
              :href="link.link"
              target="_blank"
              :data-original-title="link.title"
            >
              <i :class="link.icon" style="margin-right: 10px;"></i>
              {{ link.title }}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</template>
<script>
export default {
  name: "main-menu",
  props: {
    links: Array,
    default: () => {
      return {
        links: []
      };
    }
  }
};
</script>
