<template>
  <div
    v-if="surveyState"
    class="modal fade"
    id="modalSurvey"
    tabindex="-1"
    role="dialog"
    aria-labelledby="modalSurveyLongTitle"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalSurveyLongTitle">Survey</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
            style="right: 10px"
            v-on:click="closeSurvey()"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="text-center" style="padding: 15px; width: 100%;">
            <div v-if="type == 'msg'">
              <h4>{{ question }}</h4>
            </div>
            <div v-else>
              <h4 class="question">
                {{ question }}
              </h4>
              <div v-if="type == 'list'">
                <div>
                  <div
                    v-for="option in options"
                    :key="option"
                    style="display:inline"
                  >
                    <button
                      type="button"
                      class="btn btn-primary"
                      style="white-space: normal"
                      v-on:click="select(option)"
                    >
                      {{ option }}
                    </button>
                  </div>
                  <hr />
                  <button
                    v-if="canSkip.length > 0"
                    type="button"
                    class="btn btn-default"
                    v-on:click="skip()"
                  >
                    {{ this.canSkip }}
                  </button>
                </div>
              </div>
              <div v-else>
                <v-card
                  flat
                  class="ma-2 margin-10"
                  v-for="option in options"
                  :key="option"
                  tile
                >
                  <v-chip-group multiple active-class="primary--text">
                    <v-chip v-on:click="chooseMany(option)">
                      {{ option }}
                    </v-chip>
                  </v-chip-group>
                </v-card>
                <hr />
                <button
                  v-if="canSkip.length > 0"
                  type="button"
                  class="btn btn-default"
                  v-on:click="skip()"
                >
                  {{ this.canSkip }}
                </button>
                <button type="button" class="btn btn-info" v-on:click="next()">
                  Next
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { mapGetters } from "vuex";
export default {
  name: "modal-survey",
  data: () => {
    return {
      selection: []
    };
  },
  props: {
    question: String,
    type: String,
    options: Array,
    canSkip: String,
    default: () => {
      return {
        question: "",
        type: "",
        options: [],
        canSkip: ""
      };
    }
  },
  computed: {
    ...mapGetters(["surveyState"])
  },
  methods: {
    startSurvey() {
      this.$store.commit("updateSurvey", true);
    },
    select(option) {
      this.$store
        .dispatch("save", { answer: option, question: this.question })
        .then(() => {
          this.$store.commit("nextQuestion");
        });
    },
    chooseMany(option) {
      let index = this.selection.indexOf(option);
      if (index == -1) {
        this.selection.push(option);
      } else {
        this.selection.splice(index, 1);
      }
    },
    closeSurvey() {
      this.$store.commit("updateSurvey", false);
      this.$emit("close");
    },
    isSelected(option) {
      return this.selection.indexOf(option) > -1;
    },
    next() {
      if (this.selection.length > 0) {
        this.$store
          .dispatch("save", {
            answer: this.selection.toString(),
            question: this.question
          })
          .then(() => {
            this.$store.commit("nextQuestion", {
              questions: this.questions,
              currentIndex: this.questionIndex
            });
          });
      }
    },
    skip() {
      this.$store
        .dispatch("save", {
          answer: this.canSkip,
          question: this.question
        })
        .then(() => {
          this.$store.commit("nextQuestion", {
            questions: this.questions,
            currentIndex: this.questionIndex
          });
        });
    }
  }
};
</script>
<style scoped>
.justify-center {
  display: flex;
  justify-content: center;
}
.margin-10 {
  margin: 10px;
}
</style>
