/* Modification of FONTS */

@font-face {
    font-family: CircularStd-Bold;
    src: url("../assets/fonts/CircularStd-Bold.woff");
  } 
  @font-face {
    font-family: CircularStd-Book;
    src: url("../assets/fonts/CircularStd-Book.woff");
  }

  html {
    font-family: CircularStd-Book;
  }

  body {
    font-family: CircularStd-Book, CircularStd-Bold;
  }

  samp {
    font-family: CircularStd-Book, CircularStd-Bold;
  }

  .tooltip {
    font-family: CircularStd-Book, CircularStd-Bold;
  }

  .popover {
    font-family: CircularStd-Book, CircularStd-Bold;
  }

  .serif-font {
    font-family: CircularStd-Book, CircularStd-Bold;
  }

  body .h4 {
    font-family: CircularStd-Book, CircularStd-Bold;
  }

  .media .media-heading {
    font-family: CircularStd-Book, CircularStd-Bold;
  }

  .h6 {
    font-family: CircularStd-Book, CircularStd-Bold;
  }
  