<template>
  <v-app>
    <v-content>
      <router-view />
    </v-content>
  </v-app>
</template>
<script>
export default {
  name: "app",
  watch: {
    surveyEnd: () => {
      // Save the answers in the database
      this.$store.commit("resetState");
    }
  },
  mounted() {
    // Change it for any other database
    let json = require("../questions.json");
    this.$store.commit("updateQuestions", json);
  }
};
</script>
<style>
.landing-page {
  background-image: linear-gradient(rgb(81, 149, 252), rgb(24, 81, 167));
}
.logo-img {
  max-width: 70px;
  max-height: 70px;
  margin-right: 10px;
  transform: translateY(-30%);
  background-color: white;
}
</style>
